<div class="col-sm-6 col-md-4" style="background: skyblue">
  <h3><a routerLink="/products/details/{{id}}">{{name}}</a></h3><br/>
  <img spaHighlight class="img-thumbnail draggable" style="width:50; height:40; background-color:antiquewhite; border-color:rgb(3, 66, 3); transition:all 0.2s ease-in-out;" src = "{{imageUrl}}" [alt]="name"><br/>
  <span class="card-body pull-xs-left tag tag-primary" style="font-weight: bold; color: rgb(63, 3, 63)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{currency}}&nbsp;{{price}} 
  </span><br/>
      <p class="card-text p-a-1" style="color: brown; font-weight:bold;">{{description}}</p><br/>
</div>
